# Ignorar diretório node_modules
node_modules/

# Ignorar arquivos de compilação do TypeScript
*.js
*.js.map

# Ignorar arquivos de configuração do Visual Studio Code
.vscode/

# Ignorar arquivos de configuração do TypeScript
tsconfig.json
tsconfig.*.json

# Ignorar logs e arquivos temporários
*.log
*.temp

# Ignorar arquivos de ambiente local
.env

# Ignorar arquivos de build e saída
dist/
out/

# Ignorar arquivos de dependências do npm
package-lock.json
